em {
    color: #e71515;
    font-weight: bold;
}

.ng-invalid.ng-touched {
    border-color: red;
}

mat-form-field {
    width: 100%;
}

mat-card-title {
    text-align: center;
}

button{
    margin-right: 10px;
}